{% extends "index.html" %}

{% block title %}Forget Password{% endblock title%}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form method="POST" class="box" >
                {% csrf_token %}
                    <h1>Forget Password</h1>
                    
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                
                    <input type="email" name="email" id="email" placeholder="Registered email" required> 
                    <input type="submit" name="" value="Next">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}